.education {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(
    circle,
    #ffca28,
    #ffca28,
    #ffca28,
    #ffca28,
    #ffca28
  );
}
.education-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  font-family: var(--primaryFont);
  width: 900px;
  /* height: 410px; */
}

.education-container-title {
  font-size: var(--fontTitleSize);
  font-weight: var(--fontTitleWeight);
  margin-bottom: var(--marginTitle);
  width: 80%;
}
.education-container-list {
  width: 80%;
}
.education-container-list > ul {
  padding: 0;
}

/* Componente card */

.education--card.fadeIn {
  opacity: 1;
  transform: translateY(0);
}

.education--card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 140px;
  padding: 1.5rem 1.5rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  background-color: var(--secondaryColor);
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2); /* Sombra */
  list-style: none;
  position: relative;
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.education--card:hover {
  background-color: var(--secondaryColorDark);
  transform: scale(1.01) translateZ(15px);
  transition: transform 0.2s ease-in, background-color 0.2s ease-in-out;
}

.education--card-details > h6 {
  font-size: var(--fontSubtitleSize);
  font-weight: var(--fontSubtitleWeight);
}

.education--card-details > p {
  font-size: var(--fontSmallTitleSize);
  font-weight: var(--fontSmallTitleWeight);
}
.education--card-details > a {
  margin: 0;
  color: #014894;
}
.education--card-image {
  width: 70px;
  height: 100px;
}

.education--card-university{
  margin-bottom: 5px;
}
