.skills {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .skillsHeader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.skillsHeader h2 {
  font-family: var(--primaryFont);
  font-style: normal;
  font-weight: bold;
  font-size: 3.5rem;
  text-align: center;
} */

.skillsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3.5rem;
}

/* .skills-card {
  width: 115px;
  padding: 10px;
  font-size: 1.4rem;
  letter-spacing: 1px;
  font-weight: 700;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid var(--dark-gray);
  gap: 10px;
  background-color: rgba(24, 31, 42, 0.5);
  transition: all 0.1s linear;
  box-shadow: 6px 6px 6px #141b25;
  border-radius: 10px;
} */
.skill-card-container {
  display: flex;
}
.html {
  display: flex;

  fill: red;
  width: 100px;
  height: 100px;
}

.svg-image {
  /* Tus estilos CSS aquí */
  width: 150px; /* Ejemplo: ajusta el ancho de la imagen */
  height: 150px; /* Ejemplo: ajusta la altura de la imagen */
  fill: red; /* Ejemplo: cambia el color del SVG (si el SVG utiliza fill) */
  /* Otros estilos según tus necesidades */
  color: red;
}
