.about {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  font-family: var(--primaryFont);
  padding: 1.5rem 1.5rem;
  width: 900px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2); 
  position: relative;
  /* height: 410px; */
}

.about--container-title {
  font-size: var(--fontTitleSize);
  font-weight: var(--fontTitleWeight);
  text-align: start;
  width: 80%;
  margin-bottom: var(--marginTitle);
}
.about--container-body {
  width: 80%;
  /* padding: 1.5rem 1.5rem; */
  /* padding: 0; 
  position: relative;  */
  /* Para que los pseudo-elementos se posicionen con respecto a este contenedor */
}

/* Borde en la esquina superior izquierda */
.about--container::before {
  content: "";
  position: absolute;
  width: 10rem; 
  height: 10rem; 
  border-right: 3px solid var(--primaryColor);
  border-top: 3px solid var(--primaryColor);
  top: 0;
  right: 0;
}

/* Borde en la esquina inferior derecha */
.about--container::after {
  content: "";
  position: absolute;
  width: 10rem; 
  height: 10rem;
  border-left: 3px solid var(--primaryColor);
  border-bottom: 3px solid var(--primaryColor);
  bottom: 0;
  left: 0;
}

.about--container-body p {
  font-size: var(--fontParagraphSize);
  font-weight: var(--fontParagraphWeight);
  margin-bottom: var(--marginTitle);
}
