.home {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home--container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.home--container-frame {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2); /* Sombra */
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 900px;
  height: 410px;
  gap: 2rem;
  /* position: relative;  */
  /* Para que los pseudo-elementos se posicionen con respecto a este contenedor */

}

/* Borde en la esquina superior izquierda */
/* .home--container-frame::before {
  content: "";
  position: absolute;
  width: 10rem; 
  height: 10rem;
  border-left: 8px solid var(--frameColor);
  border-top: 8px solid var(--frameColor);
  top: 0;
  left: 0;
} */

/* Borde en la esquina inferior derecha */
/* .home--container-frame::after {
  content: "";
  position: absolute;
  width: 10rem; 
  height: 10rem;
  border-right: 8px solid var(--frameColor);
  border-bottom: 8px solid var(--frameColor);
  bottom: 0;
  right: 0;
} */

.home--img {
  width: 300px;
  height: 400px;
  object-fit: cover;
}

.home--container-left {
  display: flex;
  flex: 50%;
  justify-content: end;
  align-items: center;
}

.home--container-right {
  flex: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home--container-text {
  font-family: var(--primaryFont);
  width: 80%;
}

.home--container-text h6 {
  font-size: var(--fontSubtitleSize);
  font-weight: var(--fontSubtitleWeight);
  /* margin-bottom: -0.6rem; */
}

.home--container-text h1 {
  font-size: var(--fontTitleSize);
  font-weight: var(--fontTitleWeight);
  margin-bottom: var(--marginTitle);
}

.home--container-text p {
  font-size: var(--fontParagraphSize);
  font-weight: var(--fontParagraphWeight);
}
