.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  min-width: 100vw;
  position: fixed;
  z-index: 999;
  background: linear-gradient(90deg, #ffc107, #ffd700);
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2); /* Sombra */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; 
}

.navbar--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  list-style: none;

}

.navbar--menu {
  display: flex;
  gap: 1rem; /* Espacio entre los elementos del menú */
}

.navbar--logo-edit {
  fill: #000000;
  width: 100px;
  height: 70px;
}

.navbar--logo:hover .navbar--logo-up {
  transform: translateY(50%) translateX(-25%); /* Desplaza solo hacia abajo un 10% y no hacia los lados */
  transition: transform 0.1s ease-in; /* Agrega una transición suave solo a la propiedad transform */
}

.navbar--logo:hover .navbar--logo-down {
  transform: translateY(-50%) translateX(25%); /* Desplaza solo hacia abajo un 10% y no hacia los lados */
  transition: transform 0.1s ease-in; /* Agrega una transición suave solo a la propiedad transform */
}

/* BUTTON */
.navbar--button {
  color: #000000;
  background: transparent;
  border: none;
  position: relative;
  transition: 0.5s ease;
  cursor: pointer;
}

.navbar--button:hover {
  background-color: var(--primaryColorDark);
  transform: scale(1.1);
  transition: transform 0.2s ease-in;
}

.navbar--button::before {
  content: "";
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  transition: 0.5s ease;
}

.navbar--button-active::before {
  position: absolute;
  background-color: #000000;
}

.navbar--button-active::before {
  width: 100%;
}

.navbar--button-mode{
  width:100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 480px) {
  .navbar {
    height: 3rem;
  }
  .navbar--container {
    padding: 0.5rem;
  }
  .navbar--menu {
    /* display: flex; */
    gap: 0.4rem; /* Espacio entre los elementos del menú */
  }
  .navbar--logo-edit{
    width: 70px;
    height: 50px;
  }
  .navbar--button-mode{
    width: 70px;
    height: 50px;
  }
}
