/* @import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Patrick+Hand+SC&display=swap"); */

:root {
  --primaryFont: "Crimson Text", serif;
  /* --primaryFont: 'Montserrat', sans-serif; */
  /* --primaryFont: 'Raleway', sans-serif; */

  /* Tamaño de los textos */

  --fontTitleSize: 2.5rem;
  --fontTitleWeight: 700;

  --fontSubtitleSize: 1.25rem;
  --fontSubtitleWeight: 600;

  --fontSmallTitleSize: 1rem;
  --fontSmallTitleWeight: 400;

  --fontParagraphSize: 1.15rem;
  --fontParagraphWeight: 400;

  --marginTitle: 1.4rem;

  /* Colores */

  --primaryColor: #ffca28;
  --primaryColorDark: #ffc506;
  --secondaryColor: #f1f1f1;
  --secondaryColorDark: #e0e0e0;
  --frameColor: #000000;
}
/* 
font-family: 'Crimson Text', serif;
font-family: 'Patrick Hand SC', cursive; */

/* Tamaños de fuentes para tabletas */
@media (max-width: 768px) {
  :root {
    --fontTitleSize: 2rem;
    --fontSubtitleSize: 1rem;
    --fontSmallTitleSize: 0.875rem;
    --fontParagraphSize: 1rem;
    --marginTitle: 1rem;
  }
}

/* Tamaños de fuentes para dispositivos móviles */
@media (max-width: 480px) {
  :root {
    --fontTitleSize: 1.5rem;
    --fontSubtitleSize: 0.875rem;
    --fontSmallTitleSize: 0.75rem;
    --fontParagraphSize: 0.875rem;
    --marginTitle: 0.75rem;
  }
}
