:root {
  --primaryFont: 'Crimson Text', serif;
  /* --primaryFont: 'Montserrat', sans-serif; */
  /* --primaryFont: 'Raleway', sans-serif; */
}
/* 
font-family: 'Crimson Text', serif;
font-family: 'Patrick Hand SC', cursive; */