
  @import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Patrick+Hand+SC&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Patrick+Hand+SC&display=swap');


  
* {
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
